<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>BOOK_SERVLETS.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategory</servlet-name>
        <servlet-class>category_servlet.addCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetch_books</servlet-name>
        <servlet-class>BOOK_SERVLETS.fetch_books</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List_book</servlet-name>
        <servlet-class>BOOK_SERVLETS.List_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetch_Books</servlet-name>
        <servlet-class>BOOK_SERVLETS.fetch_Books</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletes</servlet-name>
        <servlet-class>BOOK_SERVLETS.Deletes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategory</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetch_books</servlet-name>
        <url-pattern>/fetch_books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List_book</servlet-name>
        <url-pattern>/List_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetch_Books</servlet-name>
        <url-pattern>/fetch_Books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletes</servlet-name>
        <url-pattern>/Deletes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
